@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #000;

}

/*color clcik */
i {
  position: fixed;
  width: 7px;
  height: 7px;
  background: #0f0;
  pointer-events: none;
  border-radius: 50px;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
}

.block {
  position: absolute;
  border-radius: 20px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  border-radius: 20px;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.hdr {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  gap: 8px;
  white-space: nowrap;
}

.logo #loteria {
  width: 130px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.live #Correct {
  width: 200px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1053px;
  width: 100%;
  border-radius: 20px;

  padding: 5px 30px;
  border-radius: 30px;
}

.container .ml3 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: white;
  margin-top: 20px;
  text-align: center;
}


.container .ml3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 11px;
  width: 200px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff032d, #031bf8);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  color: white;
  font-size: 20px;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

#colores_responsable {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ff032d, #031bf8);
}

/* Estilo para el botón cuando está deshabilitado */
button:disabled,
input[type="button"]:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
  /* Le damos un poco de transparencia para indicar que está deshabilitado */
}

/* Estilo para el botón habilitado (con el fondo de gradiente) */
button,
input[type="button"]:enabled {
  background: linear-gradient(135deg, #ff032d, #031bf8);
  /* Fondo degradado */
  cursor: pointer;
  /* Cursor en forma de mano */
  color: white;
  /* Color de texto */
  transition: background 0.3s ease;
  /* Efecto de transición para el fondo */
}

button:hover,
input[type="button"]:enabled:hover {
  background: linear-gradient(135deg, #031bf8, #ff032d);
  /* Fondo degradado en hover */
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #660101, #e91010);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}



.modal-content {
  position: relative;
  display: flex;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  margin: 15% auto;
  padding: 20px;
  width: 85%;
  height: 60%;
  text-align: center;
}

.modal-content>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
}

#modalMessage {
  position: absolute;
  top: 253px;
  left: 50%;
  transform: translateX(-50%);
}

.close {
  color: #0501ff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: -webkit-fill-available;
    padding: 15px;
  }

  .modal-content>img {
    width: 100%;
    height: auto;
  }

  .live {
    top: 52px;
  }

  #modalMessage {
    top: 303px;
  }

  .close {
    top: 5px;
    right: 10px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%;
    height: 89%;
    padding: 10px;
  }

  .live {
    top: 20px;
  }

  #modalMessage {
    top: 241px;
    font-size: 14px;
  }

  .close {
    font-size: 20px;
  }
}


/* Nokia Lumia 520 (320px x 533px) */
@media (max-width: 320px) {
  .modal-content {
    width: 95%;
    height: auto;
    padding: 10px;
  }

  .modal-content > img {
    height: auto;
  }

  .live {
    top: 15px;
  }

  #modalMessage {
    top: 140px;
    font-size: 12px;
  }

  .close {
    font-size: 18px;
  }
}

/* Surface Duo (540px x 720px por pantalla) */
@media (max-width: 540px) {
  .modal-content {
    width: 90%;
    height: 84%;
    padding: 15px;
  }

  .modal-content > img {
    height: auto;
  }

  .live {
    top: 9px;
  }

  #modalMessage {
    top: 239px;
  }

  .close {
    font-size: 22px;
  }
}


/* Nest Hub Max (1280px x 800px) */
@media (max-width: 1280px) and (max-height: 800px) {
  .modal-content {
    width: 75%;
    height: 117%;
    padding: 25px;
  }

  .modal-content > img {
    height: auto;
  }

  .live {
    top: 50px;
  }

  #modalMessage {
    top: 300px;
    font-size: 18px;
  }

  .close {
    font-size: 26px;
  }
}



/* From Uiverse.io by Nawsome */
.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  animation-name: loadings;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  display: none;

}


.loadingspinner div {
  display: inline-block;
  background: rgb(255, 251, 2);
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {

  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

/* From Uiverse.io by 3bdel3ziz-T */
.container2 {
  --transition: 350ms;
  --folder-W: 120px;
  --folder-H: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background: linear-gradient(135deg, #ff032d, #031bf8);
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  height: calc(var(--folder-H) * 1.7);
  position: relative;
  margin-top: 25px;
}

.folder {
  position: absolute;
  top: -20px;
  left: calc(50% - 60px);
  animation: float 2.5s infinite ease-in-out;
  transition: transform var(--transition) ease;
}

.folder:hover {
  transform: scale(1.05);
}

.folder .front-side,
.folder .back-side {
  position: absolute;
  transition: transform var(--transition);
  transform-origin: bottom center;
}

.folder .back-side::before,
.folder .back-side::after {
  content: "";
  display: block;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
  width: var(--folder-W);
  height: var(--folder-H);
  position: absolute;
  transform-origin: bottom center;
  border-radius: 15px;
  transition: transform 350ms;
  z-index: 0;
}

.container2:hover .back-side::before {
  transform: rotateX(-5deg) skewX(5deg);
}

.container2:hover .back-side::after {
  transform: rotateX(-15deg) skewX(12deg);
}

.folder .front-side {
  z-index: 1;
}

.container2:hover .front-side {
  transform: rotateX(-40deg) skewX(15deg);
}

.folder .tip {
  background: linear-gradient(135deg, #ff9a56, #ff6f56);
  width: 80px;
  height: 20px;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -10px;
  z-index: 2;
}

.folder .cover {
  background: linear-gradient(135deg, #ffe563, #ffc663);
  width: var(--folder-W);
  height: var(--folder-H);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-file-upload {
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background var(--transition) ease;
  display: inline-block;
  width: 100%;
  padding: 10px 35px;
  position: relative;
}

.custom-file-upload:hover {
  background: rgba(255, 255, 255, 0.4);
}

.custom-file-upload input[type="file"] {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Estilos adicionales */
#imagePreview {
  max-width: 32%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 300px;
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}



dialog {
  width: 650px;
  padding: 40px 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  overflow: hidden;
  border: 8px solid #22a6f3;
  border-radius: 30px;
  background-color: #FAFAFA;
  overflow-x: hidden;
  /* Evitar desplazamiento horizontal */
  overflow-y: visible;
  /* Permitir desplazamiento vertical */
}

dialog::backdrop {
  background: rgba(35, 234, 241, 0.432);
}

dialog p {
  color: #321c3b;
}

dialog button {
  box-shadow: 0px 0px 0 #321c3b;
}

dialog button:hover {
  box-shadow: 8px 8px 0 #321c3b;
}

.modal1-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons .confirm {
  background: linear-gradient(135deg, #03ffff, #0313f8);
  color: #fff;
  height: 3.2em;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

.modal-buttons .cancel {
  background: #f01010d8;
  padding: 10px 20px;
  height: 3.2em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

h3 {
  font-size: 1.5rem;
  color: #321c3b;
  padding: -3px;
  display: flex;
  justify-content: center;

}



ul {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

ul li {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;

}


.subscribe {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.subscribe input {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 30px;
  width: 280px;
  font-size: 1em;
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.subscribe input:focus {
  border-color: #00c853;
  background-color: #e9ffe8;
}

.subscribe input::placeholder {
  color: #888;
  font-style: italic;
}

.subscribe button,
input[type="button"]:enabled {
  background: linear-gradient(135deg, #ff032d, #031bf8);
  height: 100%;
  width: 20%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ff032d, #031bf8);
}


.subscribe button:hover {
  background: linear-gradient(135deg, #03e2ff, #031bf8);

}


@media(max-width: 459px) {

  .subscribe button,
  input[type="button"]:enabled {
    width: 52%;
  }
}
/* Incluye tu código existente */
@media (max-width: 768px) {

  dialog h3,
  ul li {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .modal-buttons .confirm {
    font-size: 1rem;
    display: flex;
    justify-content: center;

  }

  .modal-buttons .cancel {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

}

/* Galaxy Z Fold 5 (pantalla externa) */
@media screen and (max-width: 904px) {
  dialog {
    max-width: 88%;
    padding: 20px 30px;
  }

  h3,
  ul li {
    font-size: 1rem;
  }
}


